@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,600;1,200&display=swap");
* {
	box-sizing: border-box;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background: linear-gradient(to right, #d9a7c7, #fffcdc);
	text-align: center;
	font-family: "Roboto Mono", monospace;
}

.container {
	width: 400px;
	display: grid;
	place-content: center;
	border-radius: 5px;
	background-color: rgba(255, 248, 220, 0.514);
	box-shadow: 6px -6px 24px -6px rgba(0, 0, 0, 0.67);
}

.header {
	width: 400px;
	color: #0000009b;
	text-align: center;
	justify-content: center;
	align-content: center;
	background-color: rgba(211, 211, 211, 0.712);
	border-radius: 5px;
	padding: 20px;
}

.weather-icon{
	padding-top: 20px;

}
.city{
	font-size: 1.5rem;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.temp {
	padding-bottom: 20px;
}

#desc {
	font-size: 1.25rem;
	text-transform: uppercase;
	font-weight: 200;
	font-style: italic;
}

.search{
	width: 400px;
	text-align: center;
	place-content: center;
	padding: 20px;
	background-color: rgba(211, 211, 211, 0.712);
	border-radius: 5px;
}

input.location {
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 2px solid black;
	background: transparent;
	text-align: center;
	text-transform: uppercase;
}

.location:focus {
	outline: none;
}
